.logo p{
    font-family: "Nunito_Regular", sans-serif;
    text-transform: uppercase;
    color: #6d6e70;
    margin-left: 10px;
    font-size: 30px;
}
.logo{
    margin-top: 20px;
    align-items: baseline;
}
.header_position{
    align-items: baseline;
    justify-content: space-between;
}
.nav_position a{
    color:#989898;
    text-transform: uppercase;
    font-family: "OpenSans_SemiBold", sans-serif;
    font-size: 13px;
    margin-left: 30px;
}
.link{
    background: #bcda5c;
    padding: 10px 30px;
    border-radius: 50px;
    margin-left: 80px;
}
.link a{
    color: #fff;
    text-transform: uppercase;
    font-family: "OpenSans_SemiBold", sans-serif;
    font-size: 13px;
}
.secondbar_position{
    align-items: center;
}