@font-face {
    font-family: "Montserrat_Regular";
    src: url("./Montserrat-Regular.ttf") format("truetype"); 
    } 
@font-face {
    font-family: "OpenSans_Bold";
    src: url("./OpenSans-Bold.ttf") format("truetype");
} 
@font-face {
    font-family: "OpenSans_Light";
    src: url("./OpenSans-Light.ttf") format("truetype");
} 
@font-face {
    font-family: "OpenSans_Regular";
    src: url("./OpenSans-Regular.ttf") format("truetype");
} 
@font-face {
    font-family: "OpenSans_SemiBold";
    src: url("./OpenSans-SemiBold.ttf") format("truetype");
} 